.heandingurl{
    text-align: center;
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: goldenrod;
}


.history-paragraph{
    margin-top: 45px;
    text-align: left;
}

.img-fluid{
    margin-top: 45px;
    width: 100%;
}